<a href="https://colab.research.google.com/github/QuratAkhter/GenAI/blob/main/GenAI_Data_Preprocessing_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('DisneylandReviews.csv',encoding="latin-1")

In [5]:
df.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [6]:
df = df['Review_Text']

In [7]:
df.head()

0    If you've ever been to Disneyland anywhere you...
1    Its been a while since d last time we visit HK...
2    Thanks God it wasn   t too hot or too humid wh...
3    HK Disneyland is a great compact park. Unfortu...
4    the location is not in the city, took around 1...
Name: Review_Text, dtype: object

In [8]:
df.shape

(42656,)

In [9]:
# Lower casing

df = df.apply(lambda x: " ".join(x.lower() for x in x.split()))

In [10]:
df.head()

0    if you've ever been to disneyland anywhere you...
1    its been a while since d last time we visit hk...
2    thanks god it wasn t too hot or too humid when...
3    hk disneyland is a great compact park. unfortu...
4    the location is not in the city, took around 1...
Name: Review_Text, dtype: object

In [12]:
# Removing HTML Tags if any
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

df = df.apply(lambda x: remove_html_tags(x))

In [13]:
# Removing URL if any

def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

df = df.apply(lambda x: remove_url(x))

In [14]:
# chat word conversion
chat_words = {
    'AFAIK':'As Far As I Know',
    'AFK':'Away From Keyboard',
    'ASAP':'As soon as possible',
    'ATK':'At The Keyboard',
    'ATM':'At The Moment',
    'A3':'Anytime, Anywhere, Anyhow',
    'BAK':'Back At Keyboard',
    'BBL':'Be Back Later',
    'BBS':'Be Back Soon',
    'BFN':'Bye For Now',
    'B4N':'Bye For Now',
    'BRB':'Be Right Back',
    'BRT':'Be Right There',
    'BTW':'By The Way',
    'B4':'Before',
    'B4N':'Bye For Now',
    'CU':'See You',
    'CUL8R':'See You Later',
    'CYA':'See You',
    'FAQ':'Frequently Asked Questions',
    'FC':'Fingers Crossed',
    'FWIW':'For What It\'s Worth',
    'FYI':'For Your Information',
    'GAL':'Get A Life',
    'GG':'Good Game',
    'GN':'Good Night',
    'GMTA':'Great Minds Think Alike',
    'GR8':'Great!',
    'G9':'Genius',
    'IC':'I See',
    'ICQ':'I Seek you',
    'ILU':'I Love You',
    'IMHO':'In My Honest/Humble Opinion',
    'IMO':'In My Opinion',
    'IOW':'In Other Words',
    'IRL':'In Real Life',
    'KISS':'Keep It Simple, Stupid',
    'LDR':'Long Distance Relationship'
}

def chat_conversion(text):
    for word in text.split():
      if word in chat_words:
        text = text.replace(word,chat_words[word])
    return text

df = df.apply(lambda x: chat_conversion(x))

In [15]:
df.head()

0    if you've ever been to disneyland anywhere you...
1    its been a while since d last time we visit hk...
2    thanks god it wasn t too hot or too humid when...
3    hk disneyland is a great compact park. unfortu...
4    the location is not in the city, took around 1...
Name: Review_Text, dtype: object

In [16]:
# Incorrect word handling

from textblob import TextBlob
df = df.apply(lambda x: str(TextBlob(x).correct()))

KeyboardInterrupt:

In [17]:
df.head()

0    if you've ever been to disneyland anywhere you...
1    its been a while since d last time we visit hk...
2    thanks god it wasn t too hot or too humid when...
3    hk disneyland is a great compact park. unfortu...
4    the location is not in the city, took around 1...
Name: Review_Text, dtype: object

In [11]:
# stop words removal

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [18]:
def remove_stopwords(text):
    for word in text.split():
      if word in stopwords.words('english'):
        text = text.replace(word,'')
        return text

df = df.apply(lambda x: remove_stopwords(x))

In [19]:
df.head()

0     you've ever been to disneyland anywhere you'l...
1     been a while since d last time we visit hk di...
2    thanks god  wasn t too hot or too humid when i...
3    hk dneyland  a great compact park. unfortunate...
4     location is not in  city, took around 1 hour ...
Name: Review_Text, dtype: object

In [20]:
!pip install emoji

Collecting emoji
  Downloading emoji-2.15.0-py3-none-any.whl.metadata (5.7 kB)
Downloading emoji-2.15.0-py3-none-any.whl (608 kB)
    608.4/608.4 kB 10.2 MB/s eta 0:00:00
Installing collected packages: emoji
Successfully installed emoji-2.15.0

In [27]:
df.dropna(inplace=True)

In [28]:
# Emoji Handling
import emoji

def handle_emoji(text):
  return emoji.demojize(text)

df =df.apply(lambda x: handle_emoji(x))

In [30]:
# Tokenize

from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

df = df.apply(lambda x: word_tokenize(x))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

In [31]:
df

0        [you, 've, ever, been, to, disneyland, anywher...
1        [been, a, while, since, d, last, time, we, vis...
2        [thanks, god, wasn, t, too, hot, or, too, humi...
3        [hk, dneyland, a, great, compact, park, ., unf...
4        [location, is, not, in, city, ,, took, around,...
                               ...
42651    [went, to, dsneyland, pars, n, july, 03, and, ...
42652    [2, adults, 1, child, of, 11, visited, disneyl...
42653    [eleven, year, old, daughter, and, self, went,...
42654    [hotel, ,, part, of, the, disneyland, paris, c...
42655    [went, to, the, dsneypars, resort, ,, n, 1996,...
Name: Review_Text, Length: 42647, dtype: object

In [41]:
# Lemmatization

from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger_eng')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.

In [42]:
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

text = "Hello dearest I am too goods"
word_pos_tags = nltk.pos_tag(word_tokenize(text))
print(word_pos_tags)

[('Hello', 'NNP'), ('dearest', 'JJS'), ('I', 'PRP'), ('am', 'VBP'), ('too', 'RB'), ('goods', 'NNS')]

In [45]:
def lemmatize_text(text):
  # tokens = word_tokenize(text)
  pos_tags = nltk.pos_tag(text)
  return " ".join(
        lemmatizer.lemmatize(word, get_wordnet_pos(tag))
        for word, tag in pos_tags
    )

In [46]:
df = df.apply(lambda x: lemmatize_text(x))

In [47]:
df

0        you 've ever be to disneyland anywhere you 'll...
1        be a while since d last time we visit hk disne...
2        thanks god wasn t too hot or too humid when i ...
3        hk dneyland a great compact park . unfortunate...
4        location be not in city , take around 1 hour f...
                               ...
42651    go to dsneyland par n july 03 and think t wa b...
42652    2 adult 1 child of 11 visited disneyl paris be...
42653    eleven year old daughter and self go to visit ...
42654    hotel , part of the disneyland paris complex ,...
42655    go to the dsneypars resort , n 1996 , wth a sm...
Name: Review_Text, Length: 42647, dtype: object